@{
  Layout = "_Layout";
}

<head runat="server">
  <meta http-equiv="Refresh" content=3;url=@Model.Id />
</head>

<body class="container text-center p-4">
  <h1>You put your Tamagotchi to bed for a nap.</h1>
  <img src="https://64.media.tumblr.com/df2914832da7cc921df95be25a4770d8/8dee5dcbb581117a-c5/s400x600/3790e105542f4f34c760fe66bf5c403ae07c6beb.gif">
</body>