@{
  Layout = "_Layout";
}
<body class="container text-center p-4">
  <form action="/character" method="post">
    <label for="description">Name your Tamagotchi:</label>
    <input id="name" name="name" type="text">
    <button type="submit">Submit</button>
  </form>
</body>