@{
  Layout = "_Layout";
}

<head runat="server">
  <meta http-equiv="Refresh" content=3;url=@Model.Id />
</head>

<body class="container text-center p-4">
  <h1>You play a game with your Tamagotchi.</h1>
  <img src="https://64.media.tumblr.com/157363747b94c072d31dbe2fa18f696f/8dee5dcbb581117a-f5/s400x600/65de46f9dfedd612e81a59e929c5bd2a3801d18d.gif">
</body>