<img src="~/assets/tamagotchi-frame.png">

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-8 col-centered">
          <div class="innerdiv">
          </div>
        </div>
      </div>
  </div>
